* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  padding: 0 !important;
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input,
select {
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

main {
  padding-top: 80px;
  overflow: hidden;
}

#backtop {
  border: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #6911ad;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#backtop img {
  width: 30px;
  height: 30px;
}

@font-face {
  font-family: Gilroy;
  src: url("../../fonts/Gilroy-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Proxima Nova;
  src: url("../../fonts/proximanova_regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Nunito Sans;
  src: url("../../fonts/NunitoSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  src: url("../../fonts/Mulish-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Futura PT;
  src: url("../../fonts/FuturaPTMedium.otf");
  font-weight: normal;
  font-style: normal;
}
.container {
  max-width: 1400px;
  padding: 0 20px !important;
  margin: 0 auto !important;
}

body.light {
  background: url("../../images/home/bg-light.png"), rgba(255, 255, 255, 0.8);
}
body.light * {
  color: #000 !important;
}
body.light .navbar {
  background: rgba(23, 25, 29, 0.1) !important;
}
body.light .navbar-brand img {
  content: url("../../images/navbar/dark-logo.svg");
}
body.light .navbar-link:hover {
  color: #6911AD !important;
}
body.light .navbar__right-mode {
  background-color: #fff;
}
body.light .navbar__right-mode .mode-btn.active i {
  color: #fff !important;
}
body.light .navbar__right-call {
  color: #fff !important;
}
body.light .navbar__right-call:hover {
  color: #6911AD !important;
}
body.light .navbar-shrink {
  background-color: rgba(0, 0, 0, 0.3) !important;
}
@media (max-width: 1200px) {
  body.light .navbar .offcanvas {
    background: rgba(243, 243, 243, 0.5) !important;
  }
}
body.light .card {
  background: rgba(243, 243, 243, 0.5) !important;
}
body.light .card-content {
  background: rgba(255, 255, 255, 0.9) !important;
}
body.light .services__container {
  background-color: rgba(243, 243, 243, 0.5) !important;
}
body.light .form, body.light .footer {
  background: rgba(255, 255, 255, 0.9) !important;
}
body.light .news {
  background: url("../../images/news/top-line-light.png") center 533px, url("../../images/news/bottom-line-light.png") center 1923px;
  background-repeat: no-repeat;
  background-size: 100%;
}
body.light .news__bottom, body.light .news__card {
  background: rgba(255, 255, 255, 0.9) !important;
}
body.light .footer__logo img {
  content: url("../../images/footer/footer-dark.svg");
}

.navbar {
  padding: 15px 0 !important;
  background-color: rgba(23, 25, 29, 0.7) !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.navbar-toggler {
  border-color: #fff;
}
.navbar-toggler-icon {
  background-image: url("../../images/navbar/bars.svg") !important;
}
.navbar .btn-close {
  border-radius: 50%;
  padding: 10px;
  background-color: #fff;
}
.navbar p {
  margin: 0;
}
.navbar-brand {
  height: 50px;
}
.navbar-brand img {
  width: 72px;
  height: 50px;
}
.navbar-link {
  font-family: Proxima Nova;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.navbar-link:hover {
  color: #6911AD;
}
.navbar-item:nth-child(0) {
  margin-right: 16px;
}
.navbar-item :nth-child(1) {
  margin-right: 14px;
}
.navbar-item:nth-child(2) {
  margin-right: 18px;
}
.navbar__right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 31px;
}
.navbar__right-contact, .navbar__right-call {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 700;
  color: #fff;
}
.navbar__right-number {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #fff;
  margin-bottom: 3px;
}
.navbar__right-email {
  font-size: 0.875rem;
  line-height: 1.0625rem;
}
.navbar__right-call {
  padding: 12px 21px !important;
  background: #6911AD;
  border-radius: 7px;
  border: 2px solid #6911AD;
}
.navbar__right-call:hover {
  background-color: transparent;
  color: #6911AD;
}
.navbar__right-mode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  width: 93px;
  height: 40px;
  background: #151a1e;
  border: 1px solid #AAAAAA;
  border-radius: 40px;
}
.navbar__right .mode-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6.76px;
  width: 36px;
  height: 36px;
  border-radius: 40px;
  color: #AAAAAA;
}
.navbar__right .mode-btn i {
  height: 22px;
  font-size: 26px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar__right .active {
  background-color: #5454D4;
  color: #fff;
}

.navbar-shrink {
  padding: 12px 0 !important;
  -webkit-box-shadow: -2px 14px 8px 0px rgba(250, 247, 247, 0.2);
  box-shadow: -2px 14px 8px 0px rgba(250, 247, 247, 0.2);
}

@media (max-width: 1200px) {
  .navbar .offcanvas {
    background-color: rgba(23, 25, 29, 0.7) !important;
    opacity: 1;
  }
  .navbar-link, .navbar-item {
    margin: 15px 0 !important;
  }
}
.footer {
  padding: 82px 0;
  background: rgba(14, 16, 20, 0.9);
  border-top: 1px solid #4e4e4e;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border-radius: 20px 20px 0px 0px;
}
.footer * {
  color: #fff;
}
.footer *:hover {
  transition: 0.3s;
  color: #5454D4;
}
.footer *:active {
  transition: 0.3s;
  color: #5454D4;
}
.footer__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer__logo img {
  width: 158px;
}
.footer__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer__location p {
  margin: 0;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
}
.footer__location i {
  font-size: 30px;
}
.footer__call {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.footer__call p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin: 0;
  font-family: Proxima Nova;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.06em;
}
.footer__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32.5px;
}
.footer__link i {
  font-size: 25px;
}

.main-button {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 21px;
  height: 65px;
  color: #fff;
  z-index: 2;
  cursor: pointer;
}
.main-button span {
  display: block;
  position: absolute;
  top: -10px;
  left: 0;
  z-index: -1;
  background-color: #6911AD;
  border-radius: 50%;
  width: 65px;
  height: 65px;
}
.main-button:hover span {
  width: 100%;
  border-radius: 40px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

body {
  background: url("../../images/home/bg-noice.svg"), #1E1E1E;
}

section {
  position: relative;
}

.first-section {
  position: relative;
}
.first-section .section1 {
  padding: 139px 0 121px;
  background-repeat: no-repeat;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.first-section .section1__hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 50%;
  padding-top: 89px;
  gap: 189px;
  font-family: Proxima Nova;
  font-style: normal;
}
.first-section .section1__hero img {
  position: absolute;
  width: auto;
  z-index: 0;
  left: 0.32px;
  top: -30px;
}
.first-section .section1__hero__title {
  max-width: 695px;
  margin: 20px 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #fff;
}
.first-section .section1__hero__text {
  max-width: 549px;
  margin: 25px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}
.first-section .section1__globus {
  width: 50%;
}
.first-section .section1__globus img {
  position: absolute;
  width: auto;
  z-index: 0;
  top: 0;
  right: 0;
}
.first-section .section1__globus .canvas {
  position: relative;
  z-index: 1;
}
.first-section section {
  background: url("../../images/home/home-bg-vectors.png");
}

.second-section {
  font-family: Futura PT;
  padding: 120px 0 95px 0;
}
.second-section .section2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  position: relative;
  color: #fff;
  padding: 0 45px;
}
.second-section .section2__group1 {
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.second-section .section2__group1__title {
  margin: 0 45px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 50px;
  line-height: 64px;
  color: rgba(255, 255, 255, 0.8);
}
.second-section .section2__group1__text {
  max-width: 569px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
}
.second-section .section2__group1__text:first-child {
  margin-bottom: 20px;
}
.second-section .section2__group2__boxs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 30px auto;
  grid-template-columns: auto auto;
  gap: 30px;
}
.second-section .section2__group2__boxs__itemb {
  text-align: center;
}
.second-section .section2__group2__boxs__itemb h4 {
  font-weight: 900;
  font-size: 50px;
  line-height: 100%;
  background: -o-linear-gradient(340.91deg, rgba(0, 40, 248, 0.89) 0%, #6911ad 100%);
  background: linear-gradient(109.09deg, rgba(0, 40, 248, 0.89) 0%, #6911ad 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.second-section .section2__group2__boxs__itemb p {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.third-section .inner {
  background-image: url("../../images/home/back_lines.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.third-section .section3 {
  position: relative;
  text-align: center;
  color: #fff;
  font-style: normal;
}
.third-section .section3 h2 {
  font-family: Proxima Nova;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}
.third-section .section3__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 31px auto 31px auto;
  grid-template-columns: auto auto auto;
  gap: 31px;
  padding: 30px 0;
}
.third-section .section3__cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30.83px;
  border-radius: 20px;
  background-color: rgba(17, 19, 23, 0.5);
  -webkit-backdrop-filter: blur(2.5px);
  backdrop-filter: blur(2.5px);
  border: 1px solid rgba(78, 78, 78, 0.8117647059);
  backdrop-filter: blur(2.5px);
}
.third-section .section3__cards .card .line {
  width: 50px;
  height: 3px;
  background: #686464;
  border-radius: 20px;
  margin-bottom: 15px;
}
.third-section .section3__cards .card img {
  margin-bottom: 35.83px;
  width: auto;
}
.third-section .section3__cards .card h6 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 10px;
}
.third-section .section3__cards .card p {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.third-section .main {
  background: 0 0;
  padding-top: 90px;
}
.third-section .main .wrap {
  margin-bottom: 70px;
}

.services {
  padding-top: 120px;
}
.services__container {
  padding: 40px 120px 56px !important;
  background: rgba(14, 16, 20, 0.9);
  border: 1px solid #4e4e4e;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border-radius: 20px;
}
.services__title {
  text-align: center;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #fff;
}
.services__card {
  padding: 88px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Nunito Sans;
}
.services__card img {
  width: auto;
  margin-bottom: 20px;
}
.services__card h4 {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.750316px;
  color: #fff;
  margin-bottom: 20px;
}
.services__card p {
  max-width: 299px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.500211px;
  color: rgba(255, 255, 255, 0.7);
}

.carousels {
  padding-top: 120px;
}

.bg-section {
  background-image: url("../../images/home/crousel-lines.png");
  background-position-y: 50px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.newCarousel .news-title {
  text-align: center;
  font-family: Proxima Nova;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 44px;
  color: #fff;
}
.newCarousel .relativer {
  position: relative;
}
.newCarousel .slide-container {
  max-width: 1400px;
  width: 100%;
  padding: 36px 0;
}
.newCarousel .swiper {
  position: static;
}
.newCarousel .slide-content {
  overflow: hidden;
  border-radius: 20px;
  margin: 0 !important;
}
.newCarousel .card {
  border-radius: 20px;
  border: 1px solid #4E4E4E;
  background: rgba(14, 16, 20, 0.9);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}
.newCarousel .card-image {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.newCarousel .card-image img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.newCarousel .card-content {
  height: 207px;
  padding: 20px 30px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.newCarousel .card-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  background-color: transparent;
  color: #fff;
}
.newCarousel .card-bottom p {
  margin: 0;
}
.newCarousel .name {
  font-family: Proxima Nova;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #fff;
}
.newCarousel .description {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 21px;
}
.newCarousel .swiper-navBtn {
  color: #fff;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  width: 70px;
  height: 70px;
  background: rgba(68, 68, 68, 0.7);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 50%;
}
.newCarousel .swiper-navBtn:hover {
  color: #4070f4;
}
.newCarousel .swiper-navBtn:before,
.newCarousel .swiper-navBtn:after {
  font-size: 25px;
}
.newCarousel .swiper-button-next {
  right: -70px;
}
.newCarousel .swiper-button-prev {
  left: -70px;
}
.newCarousel .swiper-pagination-bullet {
  background-color: #6e93f7;
  opacity: 1;
}
.newCarousel .swiper-pagination-bullet-active {
  background-color: #4070f4;
}
@media screen and (max-width: 1600px) {
  .newCarousel .swiper-navBtn {
    display: none;
  }
}

.teamCarousel {
  padding-top: 120px;
  background: none;
}
.teamCarousel .news-title {
  text-align: center;
  font-family: Proxima Nova;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 44px;
  color: #fff;
}
.teamCarousel .relativer {
  position: relative;
}
.teamCarousel .swiper {
  position: static;
}
.teamCarousel .slide-container {
  max-width: 1400px;
  width: 100%;
  padding: 40px 0;
}
.teamCarousel .slide-content {
  overflow: hidden;
  border-radius: 25px;
  margin: 0 !important;
}
.teamCarousel .card {
  position: relative;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  height: 372px !important;
}
.teamCarousel .card-image {
  width: 100%;
  height: 326px;
  border-radius: 60px;
}
.teamCarousel .card-image img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  border-radius: 60px;
}
.teamCarousel .card-line {
  width: 100px;
  height: 2px;
  background-color: #878687;
  margin: 7px 0;
}
.teamCarousel .card-content {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 1px solid #4E4E4E;
  width: 296px;
  height: 88px;
  padding: 15px 49px 11px;
  background: rgba(14, 16, 20, 0.9);
  border: 1px solid #4e4e4e;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.teamCarousel .card-content h2,
.teamCarousel .card-content p {
  text-align: center;
  color: #fff;
  margin: 0;
}
.teamCarousel .name {
  font-family: Proxima Nova;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 29px;
  color: #fff;
}
.teamCarousel p {
  font-family: Proxima Nova;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.8);
}
.teamCarousel .swiper-navBtn {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  z-index: 2;
  color: #fff;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  width: 70px;
  height: 70px;
  background: rgba(68, 68, 68, 0.7);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 50%;
}
.teamCarousel .swiper-navBtn:hover {
  color: #4070f4;
}
.teamCarousel .swiper-navBtn:before,
.teamCarousel .swiper-navBtn:after {
  font-size: 25px !important;
  font-family: swiper-icons;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}
.teamCarousel .team-swiper-next {
  right: -70px;
}
.teamCarousel .team-swiper-prev {
  left: -70px;
}
.teamCarousel .swiper-pagination-bullet {
  background-color: #6e93f7;
  opacity: 1;
}
.teamCarousel .swiper-pagination-bullet-active {
  background-color: #4070f4;
}
@media screen and (max-width: 1600px) {
  .teamCarousel .swiper-navBtn {
    display: none;
  }
}

@media (max-width: 1138px) {
  .third-section .section3__cards {
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
  }
}
@media (max-width: 1080px) {
  .first-section .section1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .first-section .section1__hero {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
    padding-top: 0;
  }
  .first-section .section1__hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .first-section .section1__globus {
    width: 100%;
  }
  .second-section h2 {
    text-align: center;
  }
  .second-section .section2 {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    text-align: center;
  }
  .second-section .section2__group1 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
  }
}
@media (max-width: 800px) {
  .services__container {
    padding: 40px 30px 56px !important;
  }
  .services__card {
    padding: 30px 0;
  }
}
@media only screen and (max-width: 768px) {
  .container .section1 {
    padding-top: 50px;
    padding-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .container .section1__hero {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .container .section1__hero__title {
    text-align: center;
  }
  .container .section1__hero__text {
    text-align: center;
    margin: 10px;
  }
  .container .section1__hero .main-button {
    margin-top: 50px;
  }
  .container .section1__globus {
    display: none;
  }
  .container .section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .container .section2__group1 {
    width: 100%;
  }
  .container .section2__group2 {
    width: 100%;
    height: 40%;
  }
  .container .section3 h2 {
    text-align: center;
  }
  .container .section3__cards {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}
@media (max-width: 587px) {
  .teamCarousel .card-image {
    text-align: center;
  }
  .teamCarousel .card-image img {
    max-width: 317px;
  }
  .form__left h3 {
    font-size: 20px !important;
  }
}
@media (max-width: 482px) {
  .second-section .section2 {
    padding: 0;
  }
  .second-section .section2__group1__title {
    margin: 0;
    margin-bottom: 20px;
  }
  .second-section .section2__group2__boxs {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}
.showPanel__card {
  position: relative;
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.showPanel__card img {
  width: 100%;
}
.showPanel__card span {
  position: absolute;
  top: 15px;
  right: 15px;
  display: inline-block;
  padding: 9px;
  text-align: center;
  background-color: #fff;
  width: 121px;
  height: 37px;
  -webkit-box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.87);
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.87);
  border-radius: 10px;
}
.showPanel__card-hover {
  display: none;
  position: absolute;
  top: 15px;
  left: 15px;
  background: rgba(0, 0, 0, 0.87);
  border-radius: 10px;
  width: 93%;
  height: 90.5%;
}
.showPanel__card-hover img {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
}
.showPanel__card-hover p {
  text-align: left;
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.showPanel__card:hover .showPanel__card-hover {
  display: block;
}

.union {
  background: url("../../images/footer/footer-bg-lines.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.form-section {
  padding: 120px 0;
  background: url("../../images/home/form-bg-lines.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.form {
  font-family: Proxima Nova;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(14, 16, 20, 0.9);
  border: 1px solid #4E4E4E;
  color: #fff;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border-radius: 20px;
  padding: 60px 80px;
}
.form__left h3 {
  max-width: 640px;
  font-style: italic;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.44rem;
  margin-bottom: 15px;
}
.form__left__input {
  max-width: 499px;
}
.form__left__input input {
  width: 100%;
  display: block;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #AAAAAA;
  padding: 8px 0px;
  margin-top: 17px;
}
.form__left__input input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 1.06rem;
  line-height: 1.31rem;
}
.form__left__input input::-moz-placeholder {
  font-weight: 400;
  font-size: 1.06rem;
  line-height: 1.31rem;
}
.form__left__input input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 1.06rem;
  line-height: 1.31rem;
}
.form__left__input input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 1.06rem;
  line-height: 1.31rem;
}
.form__left__input input::placeholder {
  font-weight: 400;
  font-size: 1.06rem;
  line-height: 1.31rem;
}
.form__left__input input:valid {
  color: #fff;
  font-weight: 400;
  font-size: 1.06rem;
  line-height: 1.31rem;
}
.form h4 {
  margin-top: 40px;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.81rem;
}
.form__right .main-button {
  margin-top: 25px;
}
.form__checkbox {
  margin-top: 4px;
  max-width: 640px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.form__checkbox-box {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 10px;
  margin-top: 30px;
}
.form__checkbox-box input[type=checkbox] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  border: 1px solid #AAAAAA;
  border-radius: 4px;
  width: auto;
  margin: 0;
  padding: 0;
  margin-top: 4px;
}
.form__checkbox-box input[type=checkbox] + label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form__checkbox-box input[type=checkbox] + label:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  border: 1px solid #c3c3c3;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.form__checkbox-box input[type=checkbox]:checked + label:before {
  border-color: blue;
  background-color: linear-gradient(96.96deg, rgba(0, 40, 248, 0.89) -0.76%, #6911AD 100%);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.form__checkbox-box label {
  font-weight: 600;
  font-size: 1.13rem;
  line-height: 1.4rem;
}
.form__drinks {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 66px auto;
  grid-template-columns: 1fr 1fr;
  background: rgba(83, 83, 83, 0.1);
  -webkit-box-shadow: 20px 20px 40px rgba(241, 216, 253, 0.08);
  box-shadow: 20px 20px 40px rgba(241, 216, 253, 0.08);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  padding: 40px 60px;
  gap: 66px;
}
.form__drinks input {
  display: none;
}
.form__drinks input[type=checkbox]:checked + img {
  border: 3px solid #6911AD;
}
.form__drinks label {
  display: block;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.81rem;
  margin-top: 10px;
}
.form__drinks img {
  width: 100%;
  padding: 5px;
  border: 3px solid transparent;
  border-radius: 50%;
}

@media (max-width: 1204px) {
  .form {
    padding: 40px 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px;
  }
  .form__right {
    text-align: center;
  }
}
@media (max-width: 540px) {
  .form__checkbox {
    margin: 0;
  }
  .form__drinks {
    padding: 20px 30px;
    gap: 20px;
  }
  .form__drinks label {
    font-size: 18px !important;
  }
}
@media (max-width: 510px) {
  .form__checkbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.main {
  font-family: Proxima Nova;
  padding-top: 80px;
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: auto;
  text-align: center;
}
.main .wrap {
  margin-bottom: 40px;
}
.main h1 {
  color: #fff;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
}
.main ul {
  margin-top: 40px;
  display: inline-block;
  border: 1px solid #4E4E4E;
  border-radius: 90px;
  width: auto;
}
.main ul li {
  display: inline-block;
  border-radius: 30px;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.main ul li:hover {
  background: linear-gradient(93.5deg, #1E11AD 12.37%, rgba(105, 17, 173, 0.95) 85.28%);
}
.main ul li button {
  color: #fff;
  padding: 16px 50px;
  border-radius: 90px;
  outline: none;
}
.main ul a {
  margin-top: 40px;
}
.main .showPanel,
.main .showPanel2 {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 30px auto 30px auto;
  grid-template-columns: auto auto auto;
  gap: 30px;
}

@media (max-width: 992px) {
  .main .showPanel,
  .main .showPanel2 {
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
  }
}
@media (max-width: 767px) {
  .main ul {
    display: -ms-grid;
    display: grid;
    border-radius: 25px;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .main .showPanel,
  .main .showPanel2 {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}
.news {
  padding: 41px 0;
  position: relative;
  background: url("../../images/news/top-line.png") center 533px, url("../../images/news/bottom-line.png") center 1923px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.news:after {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  content: url("../../images/news/news-left.png");
}
.news:before {
  position: absolute;
  right: 0;
  top: 320px;
  opacity: 0.5;
  content: url("../../images/news/news-right.png");
}
.news__left {
  position: relative;
  max-width: 1009px;
  gap: 41px;
  z-index: 1;
}
.news__right {
  position: relative;
  max-width: 317px;
  gap: 30px;
  z-index: 1px;
}
.news__top img {
  width: 100%;
}
.news__card {
  background: rgba(14, 16, 20, 0.9);
  border: 1px solid #4E4E4E;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border-radius: 20px;
}
.news__card h6 {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}
.news__card-img {
  width: 100%;
}
.news__card-img img {
  width: 100%;
}
.news__card-content {
  padding: 15px 20px 25px;
  color: #fff;
}
.news__bottom {
  padding: 40px;
  padding-bottom: 23px;
  font-family: Proxima Nova;
  font-style: normal;
  background: rgba(14, 16, 20, 0.9);
  border: 1px solid #4E4E4E;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border-radius: 20px;
  color: #fff;
}
.news__bottom__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 20px;
}
.news__bottom__text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02rem;
  margin-bottom: 0;
}
.news__bottom img {
  margin: 25px 0;
  width: 100%;
}
.news__bottom__footer {
  margin-top: 30px;
  padding-top: 22px;
  border-top: 1px solid #989898;
}
.news__bottom__footer p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #b0b0b0;
}
.news__bottom__footer p i {
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
