@use "../abstract/variables" as var;
@use "../abstract/mixin" as mixin;


/* section1 pages scss */


main {
    background-color: var.$bg-main-color;

}

section {
    position: relative;
    background: url('../../images/home/bg-noice.svg');
}

.first-section {
    position: relative;
    .section1 {
        display: flex;


        background-repeat: no-repeat;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

        &__hero {
            width: 50%;
            padding: 7rem 0rem;
            height: 45rem;
            font-family: Proxima Nova;
            font-style: normal;

            img {
                position: absolute;
                width: auto;
                z-index: 0;
                left: 0.32px;
                top: -30px;
            }

            &__title {
                width: 90%;
                margin: 20px 0px;
                font-weight: 600;
                font-size: 48px;
                line-height: 58px;
                color: var.$secondary-color;
            }

            &__text {
                width: 86%;
                margin: 25px 0px;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: var.$secondary-color;
            }

            &__button {
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                margin: 20px;
                margin-top: 28%;
                border-radius: 50%;
                width: 65px;
                height: 65px;
                background-color: var.$btn-color;
                color: var.$secondary-color;
                z-index: 1;
                cursor: pointer;

                &:hover {
                    width: 140px;
                    height: 70px;
                    border-radius: 10%;
                    transition: 2s;
                }
            }
        }

        &__globus {
            width: 50%;
            padding: 7rem 0px;
            height: 45rem;

            img {
                position: absolute;
                width: auto;
                z-index: 0;
                top: 0px;
                right: 0;
            }

            .canvas {
                position: relative;
                z-index: 1;
                width: 100%;
                height: 100%;
                margin-top: -5%;
                margin-left: 2%;

            }
        }
    }

    section {
        background: url('../../images/home/home-bg-vectors.png');
    }
}

.second-section {
    font-family: Futura PT;
    padding: 120px 0 95px 0;
    .section2 {
        display: flex;
        position: relative;
        color: var.$secondary-color;
        padding: 0 45px;

        &__group1 {
            width: 50%;
            font-style: normal;


            &__title {
                margin-left: 45px;
                margin-bottom: 20px;
                font-weight: 600;
                font-size: 50px;
                line-height: 64px;
                color: rgba(255, 255, 255, 0.8);
            }

            &__text {
                max-width: 569px;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 140%;
                color: rgba(255, 255, 255, 0.8);

                &:first-child {
                    margin-bottom: 20px;
                }
            }
        }

        &__group2 {
            width: 50%;
            display: flex;
            align-items: start;
            justify-content: end;

            &__boxs {
                width: 90%;
                display: grid;
                grid-template-columns: auto auto;
                gap: 30px;

                &__itemb {
                    text-align: center;

                    h4 {
                        font-weight: 900;
                        font-size: 50px;
                        line-height: 100%;
                        background: linear-gradient(109.09deg, rgba(0, 40, 248, 0.89) 0%, #6911AD 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                    }

                    p {
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 26px;
                    }
                }
            }
        }
    }

}

.third-section {
    .inner {
        background-image: url('../../images/home/back_lines.svg');
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .section3 {
        position: relative;
        text-align: center;
        color: var.$secondary-color;
        font-style: normal;

        h2 {
            font-family: Proxima Nova;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
        }

        &__cards {
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 31px;
            padding: 30px 0;

            /* Here are the styles of the card classes added via javascript */

            .card {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                padding: 30.83px;
                border-radius: 20px;
                background-color: rgba(17, 19, 23, 0.5);
                backdrop-filter: blur(2.5px);
                border: 1px solid #4e4e4ecf;
                backdrop-filter: blur(2.5px);

                .line {
                    width: 50px;
                    height: 3px;
                    background: #686464;
                    border-radius: 20px;
                    margin-bottom: 15px;
                }

                img {
                    margin-bottom: 35.83px;
                    width: auto;
                }

                h6 {

                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29px;
                    margin-bottom: 10px;
                }

                p {

                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
    }
    .main {
        background: none;
        padding-top: 90px;
    }
}

.carousels{
    padding-top: 120px;
}
.newsCarousel {
    background-image: url('../../images/home/crousel-lines.png');
    background-position-y: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
    .news-title {
        text-align: center;
        font-family: Proxima Nova;
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 44px;
        color: var.$secondary-color;
    }

    .relativer {
        position: relative;
    }

    .slide-container {
        max-width: 2753px !important;
        width: 100%;
        padding: 36px 0;
    }

    .swiper {
        position: static;
    }

    .swiper-wrapper {
        width: 1400px !important;
    }

    .slide-content {
        overflow: hidden;
        border-radius: 20px;
    }

    .card {
        border-radius: 20px;
        border: 1px solid var.$border-color;
        background: var.$carousel-bg-color;
        backdrop-filter: blur(1px);
        margin-right: 31px !important;
        width: 30.9% !important;
        height: 530px !important;

        &-image {
            width: 100%;
            border-radius: 20px 20px 0px 0px;

            img {
                width: 100%;
                border-radius: 20px 20px 0px 0px;
            }
        }

        &-content {
            height: 207px;
            padding: 20px 30px 24px 30px;
            @include mixin.flex-box(column, space-between, start);
        }

        &-bottom {
            width: 100%;
            @include mixin.flex-box(row, space-between, end);
            background-color: transparent;
            color: var.$secondary-color;

            p {
                margin: 0;
            }
        }
    }

    .name {
        font-family: Proxima Nova;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: var.$secondary-color;
    }

    .description {
        font-family: Gilroy;
        font-weight: 400;
        font-size: 1rem;
        line-height: 19px;

        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 21px;
    }

    .swiper-navBtn {
        color: var.$secondary-color;
        transition: color 0.3s ease;
        width: 70px;
        height: 70px;
        background: rgba(68, 68, 68, 0.7);
        backdrop-filter: blur(2px);
        border-radius: 50%;
    }

    .swiper-navBtn:hover {
        color: #4070F4;
    }

    .swiper-navBtn::before,
    .swiper-navBtn::after {
        font-size: 25px;
    }

    .swiper-button-next {
        right: -70px;
    }

    .swiper-button-prev {
        left: -70px;
    }

    .swiper-pagination-bullet {
        background-color: #6E93f7;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background-color: #4070F4;
    }

    @media screen and (max-width: 1600px) {
        .slide-content {
            margin: 0 10px;
        }

        .swiper-navBtn {
            display: none;
        }
    }
}

// .teamCarousel {}


.teamCarousel {
    padding-top: 120px;
    background: none;
    .news-title {
        text-align: center;
        font-family: Proxima Nova;
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 44px;
        color: var.$secondary-color;
    }

    .relativer {
        position: relative;
    }

    .slide-container2 {
        position: static;
        max-width: 2753px !important;
        width: 100%;
        padding: 36px 0;
    }

    .swiper-wrapper {
        width: 1400px !important;
    }

    .slide-content {
        overflow: hidden;
        border-radius: 20px;
    }

    .card {
        position: relative;
        border-radius: 20px;
        border: none;
        background-color: transparent;
        margin-right: 31px !important;
        width: 22.6% !important;
        height: 372px !important;

        &-image {
            width: 100%;
            height: 326px;
            border-radius: 60px;

            img {
                width: 100%;
                border-radius: 20px 20px 0px 0px;
                border-radius: 60px;
            }
        }

        &-line {
            width: 100px;
            height: 2px;
            background-color: #878687;
            margin: 7px 0;
        }

        &-content {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            border: 1px solid var.$border-color;
            width: 296px;
            height: 88px;
            padding: 15px 49px 11px;
            background: rgba(14, 16, 20, 0.9);
            border: 1px solid #4E4E4E;
            backdrop-filter: blur(1px);
            /* Note: backdrop-filter has minimal browser support */
            @include mixin.flex-box(column, center, center);
            border-radius: 20px;

            h2,
            p {
                text-align: center;
                color: var.$secondary-color;
                margin: 0;
            }
        }
    }

    .name {
        font-family: Proxima Nova;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: var.$secondary-color;
    }

    .description {
        font-family: Gilroy;
        font-weight: 400;
        font-size: 1rem;
        line-height: 19px;

        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 21px;
    }

    .swiper-navBtn {
        position: absolute;
        top: var(--swiper-navigation-top-offset, 50%);
        z-index: 2;
        color: var.$secondary-color;
        transition: color 0.3s ease;
        width: 70px;
        height: 70px;
        background: rgba(68, 68, 68, 0.7);
        backdrop-filter: blur(2px);
        border-radius: 50%;
    }

    .swiper-navBtn:hover {
        color: #4070F4;
    }

    .swiper-navBtn::before,
    .swiper-navBtn::after {
        font-size: 25px !important;
        font-family: swiper-icons;
        text-transform: none !important;
        letter-spacing: 0;
        font-variant: initial;
        line-height: 1;
    }

    .swiper-button-next {
        right: -70px;
    }

    .swiper-button-prev{
        left: -70px;
    }

    .swiper-pagination-bullet {
        background-color: #6E93f7;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background-color: #4070F4;
    }

    @media screen and (max-width: 1600px) {
        .slide-content2 {
            margin: 0 10px;
        }

        .swiper-navBtn {
            display: none;
        }
    }
}

// .teamCarousel {}
/* Responsive phone */


@media only screen and (max-width: 669px) {
    .container {
        max-width: 100%;

        main {
            width: 100%;
        }

        .section1 {
            display: flex;
            flex-direction: column;
            height: 700px;
            text-align: center;

            &__hero {
                width: 100%;
                height: 100%;

                img {
                    display: none;
                }

                &__title {
                    width: 95%;
                    text-align: center;
                }

                &__text {
                    width: 90%;
                    text-align: center;
                    margin: 10px;
                }
            }

            &__globus {
                display: none;
            }
        }

        .section2 {
            height: 1100px;
            display: flex;
            flex-direction: column;

            &__group1 {
                width: 100%;
                height: 60%;
            }

            &__group2 {
                width: 100%;
                height: 40%;
            }
        }

        .section3 {
            text-align: center;
            height: 2000px;

            &__cards {
                grid-template-columns: auto;
            }
        }
    }
}