@use "../abstract/variables" as var;
@use "../abstract/mixin" as mixin;


/* section1 pages scss */
main {
    background-color: var.$bg-main-color;
}

.style {
    background: url('../../images/home/bg-noice.svg');
}
section{
    width: 100%;
    position: relative;
}
.container{
    .section1{
        display: flex;
        position: relative;
        background: url('../../images/home/home-bg-vectors.png');
        background-repeat: no-repeat;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

        &__hero {
            width: 50%;
            padding: 7rem 0rem;
            height: 45rem;
            font-family: Proxima Nova;
            font-style: normal;
            img{
                position: relative;
                z-index: 1;
                width: 900px;
                height: 660px;
//<<<<<<< HEAD
                z-index: 0;
                margin-left: -20px;
                margin-top: -500px;
//=======
                top: 0;
                right: 0;
//>>>>>>> 41fc8bb2f527a26d1974569c9c7d35490ff65f81
            }

            &__title {
                width: 40rem;
                margin: 20px 0px;
                font-weight: 600;
                font-size: 48px;
                line-height: 58px;
                color: var.$secondary-color;
            }

            &__text {
                width: 33rem;
                margin: 25px 0px;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: var.$secondary-color;
            }

            &__button {
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                margin: 20px;
                margin-top: 28%;
                border-radius: 50%;
                width: 65px;
                height: 65px;
                background-color: var.$btn-color;
                color: var.$secondary-color;
            }
            .section1__hero__button:hover{
                width: 140px;
            }
        }

        &__globus {
            width: 50%;
            padding: 7rem 0rem;
            height: 45rem;

            img {
                position: absolute;
                width: 514.82px;
                height: 657.4px;
                z-index: 0;
                top: 0px;
                margin-left: 185px;
            }

            .canvas {
                width: 500px;
                height: 500px;
                margin-top: -50px;
                margin-left: 70px;

            }
        }
    }

    .section2 {
        display: flex;
        position: relative;
        height: 600px;
        color: var.$secondary-color;

        &__group1 {
            width: 50%;
            height: 100%;
            padding: 50px 30px;
            font-family: Futura PT;
            font-style: normal;
            color: rgba(255, 255, 255, 0.8);

            &__title {
                margin: 20px 0px;
                font-weight: 600;
                font-size: 50px;
                line-height: 64px;
            }

            &__text {
                width: 630px;
                font-weight: 400;
                font-size: 18px;
                line-height: 140%;
            }
        }

        &__group2 {
            width: 50%;
            height: 100%;
            display: grid;
            grid-template-columns: auto auto;
            gap: 10px;
            padding: 100px;

            &__box {
                text-align: center;
                padding: 50px 10px;

                h4 {
                    font-weight: 900;
                    font-size: 50px;
                    line-height: 100%;
                    background: linear-gradient(109.09deg, rgba(0, 40, 248, 0.89) 0%, #6911AD 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }

                p {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 26px;
                }
            }
        }
    }

    .section3 {
        height: 750px;
        position: relative;
        text-align: center;
        padding: 20px;
        color: var.$secondary-color;
        font-style: normal;
        background-image: url('../../images/home/back_lines.svg');

        h2 {
            font-family: Proxima Nova;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
        }

        &__cards {
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 10px;
            padding: 30px 5px;

            /* Here are the styles of the card classes added via javascript */

            .card {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                padding: 30.83px;
                border-radius: 20px;
                background-color: rgba(17, 19, 23, 0.5);
                backdrop-filter: blur(2.5px);
                border: 1px solid #4e4e4ecf;
                backdrop-filter: blur(2.5px);

                .line {
                    width: 50px;
                    height: 3px;
                    background: #686464;
                    border-radius: 20px;
                    margin-bottom: 15px;
                }

                img {
                    margin-bottom: 35.83px;
                    width: auto;
                }

                h6 {

                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29px;
                    margin-bottom: 10px;
                }

                p {

                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
    }
}

.newsCarousel {
    .news-title {
        text-align: center;
        font-family: Proxima Nova;
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 44px;
        color: var.$secondary-color;
    }

    .slide-container {
        max-width: 1400px;
        width: 100%;
        padding:36px 0;
    }

    .slide-content {
        margin: 0 40px;
        overflow: hidden;
        border-radius: 20px;
    }

    .card {
        border-radius: 20px;
        border: 1px solid var.$border-color;
        background: var.$carousel-bg-color;
        backdrop-filter: blur(1px);


        &-image {
            width: 100%;
            border-radius: 20px 20px 0px 0px;

            img {
                width: 100%;
                border-radius: 20px 20px 0px 0px;
            }
        }

        &-content {
            padding: 20px 30px 24px 30px;
        }

        &-bottom {
            width: 100%;
            @include mixin.flex-box(row, space-between, center);
            background-color: transparent;
            color: var.$secondary-color;
            ;
        }
    }

    .name {
        font-family: Proxima Nova;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: var.$secondary-color;
    }

    .description {
        font-family: Gilroy;
        font-weight: 400;
        font-size: 1rem;
        line-height: 19px;

        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 21px;
    }

    .swiper-navBtn {
        color: #6E93f7;
        transition: color 0.3s ease;
        width: 70px;
        height: 70px;
        background: rgba(68, 68, 68, 0.7);
        backdrop-filter: blur(2px);
        border-radius: 50%;
    }

    .swiper-navBtn:hover {
        color: #4070F4;
    }

    .swiper-navBtn::before,
    .swiper-navBtn::after {
        font-size: 35px;
    }

    .swiper-button-next {
        right: 0px;
    }

    .swiper-button-prev {
        left: 0px;
    }

    .swiper-pagination-bullet {
        background-color: #6E93f7;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background-color: #4070F4;
    }

    @media screen and (max-width: 768px) {
        .slide-content {
            margin: 0 10px;
        }

        .swiper-navBtn {
            display: none;
        }
    }
}

// .teamCarousel {}



@media only screen and (max-width: 450px) {
    .container{
        max-width: 100%;
        // .section1{
        // }
        // .section2{
        // }
        .section3{
            grid-template-columns: auto auto;
        }
    }
}