@use "../abstract/variables" as var;
@use "../abstract/mixin" as mixin;


/* section1 pages scss */
main{
    background-color: var.$bg-main-color;
}
.style{
    background: url('../../images/home/bg-noice.svg');
}
.container{
    padding: 0;
    .section1{
        display: flex;
        background: url('../../images/home/home-bg-vectors.png');
        background-repeat: no-repeat;
        padding: 0px 5px;
        margin-top: 10px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        &__hero{
            width: 50%;
            padding: 7rem 0rem;
            height: 45rem;
            font-family: Proxima Nova;
            font-style: normal;
            img{
                position: absolute;
                z-index: 1;
                width: 900px;
                height: 660px;
                margin-left: -150px;
                margin-top: -220px;
            }
            &__title{
                width: 40rem;
                margin: 20px 0px;
                font-weight: 600;
                font-size: 48px;
                line-height: 58px;
                color: var.$secondary-color;
            }
            &__text{
                width: 33rem;
                margin: 25px 0px;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px; 
                color: var.$secondary-color;
            }
            &__button{
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                margin: 20px;
                margin-top: 28%;
                color: var.$secondary-color;
            }
        }
        &__globus{
            width: 50%;
            padding: 7rem 0rem;
            height: 45rem;
            img{
                position: absolute;
                width: 514.82px;
                height: 657.4px;
                z-index: 0;
                top: 0px;
                margin-left: 185px;
            }
            .canvas{
                width: 500px;
                height: 500px;
                margin-top: -50px;
                margin-left: 70px;

            }
        }
    }
    .section2{
        display: flex;
        height: 600px;
        color: var.$secondary-color;
        &__group1{
            width: 50%;
            height: 100%;
            padding: 50px 30px;
            font-family: Futura PT;
            font-style: normal;
            color: rgba(255, 255, 255, 0.8);
            &__title{
                margin: 20px 0px;
                font-weight: 600;
                font-size: 50px;
                line-height: 64px;
            }
            &__text{
                width: 630px;
                font-weight: 400;
                font-size: 18px;
                line-height: 140%;
            }
        }
        &__group2{
            width: 50%;
            height: 100%;
            display: grid;
            grid-template-columns: auto auto;
            gap: 10px;
            padding: 100px;
            &__box{
                text-align: center;
                padding: 50px 10px;
                h4{
                    font-weight: 900;
                    font-size: 50px;
                    line-height: 100%;
                    background: linear-gradient(109.09deg, rgba(0, 40, 248, 0.89) 0%, #6911AD 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
                p{
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 26px;
                }
            }
        }
    }
    .section3{
        height: 750px;
        text-align: center;
        padding: 20px;
        color: var.$secondary-color;
        font-style: normal;
        background-image: url('../../images/home/back_lines.svg');
        h2{
            font-family: Proxima Nova;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
        }
        &__cards{
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 10px;
            padding: 30px 5px;

            /* Here are the styles of the card classes added via javascript */

            .card{
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                padding: 30.83px;
                border-radius: 20px;
                background: var.$bg-secondary-color;
                border: 1px solid #4e4e4ecf;
                backdrop-filter: blur(2.5px);
                .line {
                    width: 50px;
                    height: 3px;
                    background: #686464;
                    border-radius: 20px;
                    margin-bottom: 15px;
                }
                img {
                    margin-bottom: 35.83px;
                    width: auto;
                }
                h6 {
    
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29px;
                    margin-bottom: 10px;
                }
                p {
    
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
    }
}


// @media only screen and (max-width: 450px) {
//     .container{
//         .section1{
//             display: block;
//         }
//     }
// }