@use "../abstract/mixin" as mixin;
@use "../abstract/variables" as var;
@use "../components/portfoliocard";

.main {
  font-family: Nunito Sans;
  background-color: var.$bg-main-color;
  padding-top: 80px;
  @include mixin.flex-box(row, start, center);
  width: auto;
  text-align: center;
  h1{
    color: var.$secondary-color;
  }
  ul{
    margin-top: 40px;
    display: inline-block;
    border: 1px solid var.$border-color;
    border-radius: 90px;
    width: auto;
    li{
        display: inline-block;
        border-radius: 30px;
        transition-timing-function: ease;
        &:hover{
            background: var.$tab-color;
        }
        button{
            color: var.$secondary-color;
            padding: 16px 50px;
            border-radius: 90px;
            outline: none;
        }
    }
}
  .showPanel {
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
  }
}

// Start Media=992

@media (max-width:992px){
  .main{
    .showPanel{
      grid-template-columns: auto auto;
    }
  }
}

// End Media=992

// Start Media=767
@media (max-width:767px){
  .main{
    ul{
      display: grid;
      border-radius: 25px;
      width: 60%;
      margin: 0 auto;
      margin-top: 20px;
    }
    .showPanel{
      grid-template-columns: auto;
    }
  }
}
// End Media=767