@use "../abstract/mixin" as mixin;
@use "../abstract/variables" as var;
@use "../components/portfoliocard";

.main {
  background-color: #000;
  padding-top: 80px;
  @include mixin.flex-box(row, start, center);
  width: auto;
  text-align: center;
  h1{
    color: #fff;
  }
  ul{
    margin-top: 40px;
    display: inline-block;
    border: 1px solid #4E4E4E;
    border-radius: 90px;
    width: auto;
    li{
        display: inline-block;
        border-radius: 30px;
        &:hover{
            background: linear-gradient(93.5deg, #1E11AD 12.37%, rgba(105, 17, 173, 0.95) 85.28%);
        }
        button{
            color: #fff;
            padding: 16px 50px;
            border-radius: 90px;
            outline: none;
        }
    }
}
  .showPanel {
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
  }
}
