@use "../abstract/mixin" as mixin;
@use "../abstract/variables" as var;
@use "../components/portfoliocard";
@use "../components/form";
@use "../components/main-button";
.main {
  font-family: Proxima Nova;
  padding-top: 80px;
  background: none;
  @include mixin.flex-box(row, start, center);
  width: auto;
  text-align: center;
  .wrap {
    margin-bottom: 40px;
  }
  h1 {
    color: var.$secondary-color;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  ul {
    margin-top: 40px;
    display: inline-block;
    border: 1px solid var.$border-color;
    border-radius: 90px;
    width: auto;
    li {
      display: inline-block;
      border-radius: 30px;
      -webkit-transition-timing-function: ease;
      -o-transition-timing-function: ease;
      transition-timing-function: ease;
      &:hover {
        background: var.$tab-color;
      }
      button {
        color: var.$secondary-color;
        padding: 16px 50px;
        border-radius: 90px;
        outline: none;
      }
    }
    a {
      margin-top: 40px;
    }
  }
  .showPanel,
  .showPanel2 {
    margin-top: 40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 30px auto 30px auto;
    grid-template-columns: auto auto auto;
    gap: 30px;
  }
}
@media (max-width: 992px) {
  .main {
    .showPanel,
    .showPanel2 {
      -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
    }
  }
}
@media (max-width: 767px) {
  .main {
    ul {
      display: -ms-grid;
      display: grid;
      border-radius: 25px;
      width: 60%;
      margin: 0 auto;
      margin-top: 20px;
    }
    .showPanel,
    .showPanel2 {
      -ms-grid-columns: auto;
      grid-template-columns: auto;
    }
  }
}
