@use "../abstract/mixin" as mixin;
@use "../abstract/variables" as var;
.union {
  background: url("../../images/footer/footer-bg-lines.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}
.form-section {
  padding: 120px 0;
  background: url("../../images/home/form-bg-lines.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.form {
  font-family: Proxima Nova;
  @include mixin.flex-box(row, space-between, center);
  background: var.$carousel-bg-color;
  border: 1px solid var.$border-color;
  color: var.$secondary-color;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border-radius: 20px;
  padding: 60px 80px;
  &__left {
    h3 {
      max-width: 640px;
      font-style: italic;
      font-weight: 600;
      font-size: 2rem;
      line-height: 2.44rem;
      margin-bottom: 15px;
    }
    &__input {
      max-width: 499px;
      input {
        width: 100%;
        display: block;
        background: none;
        outline: none;
        border: none;
        border-bottom: 1px solid var.$gray;
        padding: 8px 0px;
        margin-top: 17px;
        &::-webkit-input-placeholder {
          font-weight: 400;
          font-size: 1.06rem;
          line-height: 1.31rem;
        }
        &::-moz-placeholder {
          font-weight: 400;
          font-size: 1.06rem;
          line-height: 1.31rem;
        }
        &:-ms-input-placeholder {
          font-weight: 400;
          font-size: 1.06rem;
          line-height: 1.31rem;
        }
        &::-ms-input-placeholder {
          font-weight: 400;
          font-size: 1.06rem;
          line-height: 1.31rem;
        }
        &::placeholder {
          font-weight: 400;
          font-size: 1.06rem;
          line-height: 1.31rem;
        }
        &:valid {
          color: var.$secondary-color;
          font-weight: 400;
          font-size: 1.06rem;
          line-height: 1.31rem;
        }
      }
    }
  }
  h4 {
    margin-top: 40px;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.81rem;
  }
  &__right {
    .main-button {
      margin-top: 25px;
    }
  }
  &__checkbox {
    margin-top: 4px;
    max-width: 640px;
    @include mixin.flex-box(row, space-between, start);
    &-box {
      @include mixin.flex-box(row, start, start);
      gap: 10px;
      margin-top: 30px;
      input[type="checkbox"] {
        position: absolute;
        z-index: -1;
        opacity: 0;
        border: 1px solid var.$gray;
        border-radius: 4px;
        width: auto;
        margin: 0;
        padding: 0;
        margin-top: 4px;
      }
      input[type="checkbox"] + label {
        cursor: pointer;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      input[type="checkbox"] + label:before {
        content: "";
        display: inline-block;
        width: 1em;
        height: 1em;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        border: 1px solid #c3c3c3;
        border-radius: 0.25em;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }
      input[type="checkbox"]:checked + label:before {
        border-color: blue;
        background-color: var.$primary-color;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
      }
      label {
        font-weight: 600;
        font-size: 1.13rem;
        line-height: 1.4rem;
      }
    }
  }
  &__drinks {
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 66px auto;
    grid-template-columns: 1fr 1fr;
    background: var.$form-drink-bg;
    -webkit-box-shadow: 20px 20px 40px var.$form-drink-shedow;
    box-shadow: 20px 20px 40px var.$form-drink-shedow;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    padding: 40px 60px;
    gap: 66px;
    input {
      display: none;
    }
    input[type="checkbox"]:checked + img {
      border: 3px solid var.$btn-color;
    }
    label {
      display: block;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 1.81rem;
      margin-top: 10px;
    }
    img {
      width: 100%;
      padding: 5px;
      border: 3px solid transparent;
      border-radius: 50%;
    }
  }
}
@media (max-width: 1204px) {
  .form {
    padding: 40px 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px;
    &__right {
      text-align: center;
    }
  }
}
@media (max-width: 540px) {
  .form {
    &__checkbox {
      margin: 0;
    }
    &__drinks {
      padding: 20px 30px;
      gap: 20px;
      label {
        font-size: 18px !important;
      }
    }
  }
}
@media (max-width: 510px) {
  .form {
    &__checkbox {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
}
