@use "../abstract/variables" as var;
@use "../abstract/mixin" as mixin;
.main-button {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 21px;
  height: 65px;
  color: var.$secondary-color;
  z-index: 2;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    top: -10px;
    left: 0;
    z-index: -1;
    background-color: var.$btn-color;
    border-radius: 50%;
    width: 65px;
    height: 65px;
  }
  &:hover {
    span {
      width: 100%;
      border-radius: 40px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }
  }
}
