* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

ul {
    padding: 0 !important;
    list-style-type: none
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer
}

input,
select {
    outline: none
}

a {
    text-decoration: none;
    cursor: pointer
}

main {
    padding-top: 80px;
    overflow: hidden
}

#backtop {
    border: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #6911ad;
    opacity: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

#backtop img {
    width: 30px;
    height: 30px
}

