@font-face {
    font-family: Gilroy;
    src: url('../../fonts/Gilroy-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Proxima Nova;
    src: url("../../fonts/proximanova_regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Nunito Sans;
    src: url("../../fonts/NunitoSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Mulish;
    src: url('../../fonts/Mulish-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Futura PT;
    src: url("../../fonts/FuturaPTMedium.otf");
    font-weight: normal;
    font-style: normal;
}
