$bg-main-color: #1E1E1E;
$bg-secondary-color: #111317a9;
$primary-color: linear-gradient(96.96deg, rgba(0, 40, 248, 0.89) -0.76%, #6911AD 100%);
$secondary-color: #fff;
$tab-color: linear-gradient(93.5deg, #1E11AD 12.37%, rgba(105, 17, 173, 0.95) 85.28%);
$shadow-color: rgba(0, 0, 0, 0.87);
$border-color: #4E4E4E;
$carousel-bg-color: rgba(14, 16, 20, 0.9);
$btn-color: #6911AD;
$purple:#5454D4;
$nav-color: rgba(23, 25, 29, 0.7);
$gray:#AAAAAA;

